<div class="content">

    <ng-container *ngFor="let documentItem of content">

        <ng-container *ngIf="documentItem.isUrl">
            <a target="_blank" href="{{documentItem.content }}">Source</a>
        </ng-container>

        <ng-container *ngIf="documentItem.isMainTitle">
            <h2 [attr.id]="'anchor-'+documentItem.id"> {{documentItem.content }}</h2>
        </ng-container>

        <ng-container *ngIf="documentItem.isSecondaryTitle">
            <h3 [attr.id]="'anchor-'+documentItem.id"> {{documentItem.content }}</h3>
        </ng-container>

        <ng-container *ngIf="!documentItem.isUrl && !documentItem.isSecondaryTitle && !documentItem.isMainTitle">
            <ng-container *ngIf="documentItem.isEmphasis; else elseBlock">
                <div class="content-item"><u>{{documentItem.content}}</u></div>
            </ng-container>
            <ng-template #elseBlock>
                <div class="content-item">{{documentItem.content}}</div>
            </ng-template>
        </ng-container>

    </ng-container>

</div>