<div class="content">
    <div class="content-search">
        <div style="
        color: #5c5edc;
        border-bottom: 1px solid #5c5edc;

       
    box-sizing: border-box;

    margin-block-start: 0.5em;
    margin-block-end: 0.5em">Search results for: <span><u>{{searchPredicate}}</u></span></div>

        <div class="search-document" *ngFor="let document of searchResult | keyvalue">

            <div style="font-size: smaller;" (click)="document.toggle=!document.toggle">{{document.key}}</div>

            <ng-container *ngFor="let title of document.value | keyvalue">

                <div *ngIf="document.toggle" style="margin-left: 20px;
                  font-size: smaller;
                    box-sizing: border-box;
                    margin-block-start: 0.5em;
                    margin-block-end: 0.5em" (click)="title.toggle=!title.toggle">{{title.key}}

                    <ng-container *ngIf="title.value.length">

                        <ng-container *ngFor="let result of title.value">
                            <div class="search-link" [routerLink]="result.link()" [queryParams]="{h: searchPredicate }"
                                style="margin-left: 40px;font-size: 15px;">{{result.peek}}
                            </div>
                        </ng-container>

                    </ng-container>

                    <ng-container *ngIf="!title.value.length;">
                        <ng-container *ngFor="let subtitle of title.value | keyvalue">

                            <div   *ngIf="title.toggle" style="margin-left: 30px;box-sizing: border-box;
                    margin-block-start: 0.5em;
                    margin-block-end: 0.5em">{{subtitle.key}}

                                <ng-container *ngFor="let result of subtitle.value">
                                    <a class="search-link" [routerLink]="result.link()" [queryParams]="{h: searchPredicate }"
                                       
                                        style="margin-left: 40px;font-size: 15px;">"{{result.peek}}"</a>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>



            </ng-container>

        </div>

    </div>
</div>